.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}

.shop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shop-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.shop-image {
  width: 134px;
  height: 103px;
  object-fit: cover;
  margin-right: -16px;
}
.shop-logo {
  color: var(--dl-color-gray-black);
  font-size: 2em;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.shop-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.shop-links {
  flex: 1;
  width: 819px;
  display: flex;
  align-items: center;
  margin-left: -350px;
  flex-direction: row;
  justify-content: center;
}
.shop-nav12 {
  margin-left: 0px;
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-nav22 {
  font-size: 16px;
  font-family: "Cabin";
  font-weight: 700;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
}
.shop-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.shop-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.shop-burger-menu {
  display: none;
}
.shop-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.shop-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.shop-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shop-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.shop-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.shop-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.shop-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.shop-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.shop-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.shop-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.shop-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.shop-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.shop-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.shop-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.shop-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-hero-heading {
  max-width: 800px;
  text-align: center;
}
.shop-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.shop-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.shop-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.shop-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.shop-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.shop-container03 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.shop-pricing {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-pricing1 {
  align-self: center;
}
.shop-container04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-pricing-sub-heading {
  text-align: center;
}
.shop-container05 {
  gap: var(--dl-space-space-twounits);
  width: 1533px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.shop-image1 {
  width: 487px;
  height: 314px;
  object-fit: cover;
}
.shop-image2 {
  width: 487px;
  height: 314px;
  object-fit: cover;
}
.shop-image3 {
  width: 487px;
  height: 314px;
  object-fit: cover;
}
.shop-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-banner-heading {
  text-align: center;
}
.shop-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.shop-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.shop-container06 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-text50 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.shop-text51 {
  text-align: left;
}
.shop-container07 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shop-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.shop-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.shop-nav222 {
  margin-left: var(--dl-space-space-unit);
}
.shop-nav322 {
  margin-left: var(--dl-space-space-unit);
}
.shop-nav422 {
  margin-left: var(--dl-space-space-unit);
}
.shop-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.shop-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.shop-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.shop-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.shop-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .shop-desktop-menu {
    display: none;
  }
  .shop-burger-menu {
    display: flex;
  }
}
@media(max-width: 991px) {
  .shop-hero1 {
    flex-direction: column;
  }
  .shop-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .shop-hero-heading {
    text-align: center;
  }
  .shop-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .shop-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .shop-pricing-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .shop-container05 {
    align-items: center;
    flex-direction: column;
  }
  .shop-banner-sub-heading {
    max-width: 100%;
  }
  .shop-text51 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .shop-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .shop-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .shop-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .shop-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .shop-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .shop-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .shop-container03 {
    grid-template-columns: 1fr;
  }
  .shop-pricing-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .shop-container05 {
    align-items: center;
    flex-direction: column;
  }
  .shop-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .shop-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .shop-faq1 {
    flex-direction: column;
  }
  .shop-container06 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .shop-text51 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .shop-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .shop-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .shop-text54 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .shop-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .shop-mobile-menu1 {
    padding: 16px;
  }
  .shop-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .shop-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .shop-btn-group {
    flex-direction: column;
  }
  .shop-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .shop-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .shop-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .shop-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .shop-text54 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
